
db.sqlite3
*.zip
django_my_site
requirements.txt
djangoauthorizanion/settings.py
staticfiles
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Migrations (optional if you don’t want to track them initially)
**/migrations/*.py
**/migrations/__pycache__/
